.username-display {
  position: absolute;
  top: 20px;
  right: 20px;
  font-weight: bold;
  font-size: 16px;
  font-family: 'Poppins', sans-serif; /* Schriftart */
  color: #333; /* Optional: Farbe für den Text */
  letter-spacing: 0.5px; /* Etwas mehr Abstand zwischen den Buchstaben */
  text-transform: uppercase; /* Optional: Alle Buchstaben groß */
}

/* Allgemeine Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

/* Social Link Styles */
.social-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.social-link {
    text-decoration: none;
    font-size: 18px;
    padding: 12px 20px;
    border-radius: 5px;
    color: white;
    transition: all 0.3s ease;
}

.social-link:hover {
    opacity: 0.8;
}

.social-link.youtube {
    background-color: #ff0000;
}

.social-link.tiktok {
    background-color: #000000;
}

.social-link.discord {
    background-color: blue;
}
